body {
    text-align: center;
    --clearColour: red;
    --clearColourActive: darkred;
    --loaderColour: rgb(43, 143, 236);
}

canvas {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#referenceCanvas {
    height: 300px; /*to account for border*/
    width: 300px;

    border-image: linear-gradient(to right, #ffe865 0%, #f0b209 100%) 1;
    border-width: 10px;
    border-style: solid;
}


#canvasWrapper {
    height: 300px;
    width: 300px;
    margin: 0 auto;

    position: relative;
}

#userCanvas {
    height: 300px;
    width: 300px;

    border: 3px solid black;
    z-index: -1;
}

#clear {
    height: 50px;
    width: 50px;

    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;

    border: none;
    background-color: var(--clearColour);
    color: white;
}
#clear:active {
    background-color: var(--clearColourActive);

}

#timer {
    height: 50px;
    width: 50px;

    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;

    background-color: lightgray;
    font-size: x-large;
    display: grid;
    place-content: center;
}



#resultsPopupBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    background-color: rgba(211, 211, 211, 0.8);
}
#resultsPopup {
    position: fixed;
    height: 70vh;
    left: 15px;
    right: 15px;
    top: 50%;
    z-index: 2;

    transform: translate(0, -50%);

    background-color: whitesmoke;
    border-radius: 10px;
}
#feedbackCanvas {
    height: 300px;
    width: 300px;

    border: 3px solid black;
}


.loader {
    width: 150px;
    height: 150px;

    margin-bottom: 9px;

    border: 9px solid #f3f3f3;
    border-top: 9px solid var(--loaderColour);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}